.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: #eb9eb5;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    color: #b0677e;
    padding-left: 15px;
}

.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: #d88ca2;
    font-size: 26px;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
}

.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background-color: #eb9eb5;
    border: 4px soil #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    margin: 2px;
}

.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}

.boxes img{
    margin: 50px 50px;
}

