.digimonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.digimonBox {
    padding: 20px;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digimonImg {
width: 250px;
}

.digimonName, h1 {
    color: white;
    text-shadow: 1px 1px 10px #b0677e;
    text-align: center;
}

.Principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
